.banner_index{
    width: 100%;
    height: 550px;
    padding-top: 350px;
    background-image: url(../img/auro.jpg);
    background-size: cover;
}

.leyenda{
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.btn_banner{
    display: block;
    width: 100px;
    margin: auto;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    

    
    transition: 0.3s;
    
}

.btn_banner:hover{
    width: 150px;
    transition: 0.3s;

}